node_modules/
.env
uploads/

# ML datasets
ml-service/object_detection/dataset/
ml-service/object_detection/raw_datasets/

# Trained model weights
*.pt
*.onnx

# Training outputs
ml-service/object_detection/runs/
ml-service/object_detection/weights/

# Python cache
__pycache__/
*.pyc

